<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ '/assets/img/favicon_SadgeDoge.png' | relative_url }}" type="image/png">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <small>© {{ site.time | date: "%Y" }} {{ site.title }}</small>
  </footer>
</body>
</html>